mgr.prepend_keymap = [
  { on = "!", run = 'shell "$SHELL" --block', desc = "Open shell here" },
  { on = "o", run = "plugin open-with-cmd --args=block", desc = "Open with command in the terminal" },
  { on = "b", run = "plugin yamb jump_by_key", desc = "Jump bookmark by key" },
  { on = "'", run = "plugin jump-to-char", desc = "Jump to char" },
  { on = ["g","z"], run = "plugin ouch --args=zip", desc = "Compress with ouch" },
  { on = ["g","s"], run = "plugin what-size", desc = "Calc size of selection or cwd" },
  { on = ["g","m"], run = "plugin chmod", desc = "Chmod on selected files" },
  { on = ["g","O"], run = 'shell -- dragon "$1"', desc = "Dragon - Drag n Drop" },
  { on = ["g","o"], run = '''shell "ripdrag \"$@\" 2>/dev/null &" --confirm''', desc = "Drag n Drop" },
  { on = ["g","g"], run = "plugin fr rg", desc = "Search file by content (rg)" },
  { on = ["g","G"], run = "plugin fr rga", desc = "Search file by content (rga)" },
  { on = ["g","l"], run = "plugin mount", desc = "Mount directories" },
  { on = ["g","k"], run = "plugin kdeconnect-send", desc = "Send selected files via KDE Connect" },

  # YAMB
  { on = ["u","a"], run = "plugin yamb save", desc = "Add bookmark" },
  { on = ["u","G"], run = "plugin yamb jump_by_fzf", desc = "Jump bookmark by fzf" },
  { on = ["u","d"], run = "plugin yamb delete_by_key", desc = "Delete bookmark by key" },
  { on = ["u","D"], run = "plugin yamb delete_by_fzf", desc = "Delete bookmark by fzf" },
  { on = ["u","A"], run = "plugin yamb delete_all", desc = "Delete all bookmarks" },
  { on = ["u","r"], run = "plugin yamb rename_by_key", desc = "Rename bookmark by key" },
  { on = ["u","R"], run = "plugin yamb rename_by_fzf", desc = "Rename bookmark by fzf" },

  # GVFS
  { on = ["M","m"], run = "plugin gvfs -- select-then-mount", desc = "Select device then mount" },
  { on = ["M","m"], run = "plugin gvfs -- select-then-mount --jump", desc = "Select device to mount and jump to its mount point" },
  { on = ["M","R"], run = "plugin gvfs -- remount-current-cwd-device", desc = "Remount device under cwd" },
  { on = ["M","u"], run = "plugin gvfs -- select-then-unmount", desc = "Select device then unmount" },
  { on = ["M","u"], run = "plugin gvfs -- select-then-unmount --eject", desc = "Select device then eject" },
  { on = ["M","U"], run = "plugin gvfs -- select-then-unmount --eject --force", desc = "Select device then force to eject/unmount" },
  { on = ["M","a"], run = "plugin gvfs -- add-mount", desc = "Add a GVFS mount URI" },
  { on = ["M","e"], run = "plugin gvfs -- edit-mount", desc = "Edit a GVFS mount URI" },
  { on = ["M","r"], run = "plugin gvfs -- remove-mount", desc = "Remove a GVFS mount URI" },
  { on = ["M","M"], run = "plugin gvfs -- jump-to-device", desc = "Select device then jump to its mount point" },
  { on = ["M","M"], run = "plugin gvfs -- jump-to-device --automount", desc = "Automount then select device to jump to its mount point" },
  { on = ["`","`"], run = "plugin gvfs -- jump-back-prev-cwd", desc = "Jump back to the position before jumped to device" },
  { on = ["M","t"], run = "plugin gvfs -- automount-when-cd", desc = "Enable automount when cd to device under cwd" },
  { on = ["M","T"], run = "plugin gvfs -- automount-when-cd --disabled", desc = "Disable automount when cd to device under cwd" },
]

input.prepend_keymap = [
  { on = "<Esc>", run = "close", desc = "Cancel input" }
]
